{%- comment -%}
  Subheading Component
  Unified subheading component with size-based variants
  Supports: 'base', 'base-medium', 'xl', 'xl-stat', '2xl-medium', 'base-2xl-medium', 'base-xl-bold'

  Accepts:
  - text: Rich text string
  - variant: String (optional, default: 'base')
  - color: Hex color value (optional, default: '#092846')
  - max_width: String (optional, max width value e.g., '800px', '50%', '1200px')
  - parent_class: String (optional, parent class prefix, default: 'subheading')
  - block_shopify_attributes: Block attributes
{%- endcomment -%}

{%- liquid
  assign variant = variant | default: 'base'
  assign parent_class = parent_class | default: 'subheading'
  assign color = color | default: '#092846'
  case variant
    when 'base'
      assign subheading_classes = parent_class | append: '__subheading tw-text-2xl !tw-font-bold !tw-leading-[110%] !tw-tracking-[-0.96px] !tw-break-words'
    when 'base-medium'
      assign subheading_classes = parent_class | append: '__subheading-medium tw-text-2xl !tw-font-medium !tw-leading-[110%] !tw-tracking-[-0.96px] !tw-break-words'
    when 'xl'
      assign subheading_classes = parent_class | append: '__subheading-xl tw-text-xl md:tw-text-2xl !tw-font-medium !tw-leading-[110%] !tw-tracking-[-0.8px] !tw-tracking-[-0.96px] !tw-break-words'
    when 'xl-stat'
      assign subheading_classes = parent_class | append: '__subheading-xl tw-text-xl  !tw-font-medium !tw-leading-[110%] !tw-tracking-[-0.8px] !tw-tracking-[-0.8px] !tw-break-words'
    when '2xl-medium'
      assign subheading_classes = parent_class | append: '__subheading-2xl tw-text-2xl md:tw-text-3xl !tw-font-medium !tw-leading-[110%] !tw-tracking-[-0.96px] md:!tw-tracking-[-1.2px] !tw-break-words'
    when 'base-2xl-medium'
      assign subheading_classes = parent_class | append: '__subheading-xl tw-text-base md:tw-text-2xl !tw-font-medium !tw-leading-[125%] md:!tw-leading-[110%] !tw-tracking-[-0.16px] !tw-tracking-[-0.96px] !tw-break-words'
    when 'base-xl-bold'
      assign subheading_classes = parent_class | append: '__subheading-xl tw-text-base md:tw-text-xl !tw-font-bold !tw-leading-[125%] md:!tw-leading-[110%] !tw-tracking-[-0.16px] !tw-tracking-[-0.96px] !tw-break-words'
  endcase

  assign subheading_style = ''
  if color != blank
    assign subheading_style = 'color: ' | append: color | append: ';'
  endif
  if max_width != blank
    if subheading_style != blank
      assign subheading_style = subheading_style | append: ' max-width: ' | append: max_width | append: ';'
    else
      assign subheading_style = 'max-width: ' | append: max_width | append: ';'
    endif
  endif
-%}

{%- if text != blank -%}
  <div class="{{ subheading_classes }}"{% if subheading_style != blank %} style="{{ subheading_style }}"{% endif %} {{ block_shopify_attributes }}>
    {{ text }}
  </div>
{%- endif -%}
